<h2>About page</h2>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquam architecto perferendis hic esse odit magnam expedita fugiat omnis autem aut aliquid animi inventore, corporis vero maiores id debitis consequatur.
</p>

<p>Customer: <%= @customer %></p>
<%= link_to "Contact Us", contactus_path %>
<%= link_to "Back", root_path %>